/* src/components/Intro/Intro.css */

.intro-section {
  width: 100%;
  min-height: 100vh;
  padding: 80px 0;
  position: relative;
  background: #000;
  color: #fff;
  overflow: hidden;
}

/* 배경 오디오 요소 숨김 */
.intro-section audio {
  display: none;
}

/* 데코 박스 (원본 그대로 유지) */
.logoimg {
  position: absolute;
  top: 40px;
  left: 50px;
  width: 120px;
  height: 40px;
  background-image: url("/images/logoimg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.logobox {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.1);
}

.category {
  position: absolute;
  right: 50px;
  top: 60px;
  width: 160px;
  height: 40px;
  background-image: url("/images/category.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.vl {
  position: absolute;
  top: 0;
  left: 200px;
  height: 100%;
  width: 2px;
  background: rgba(255, 255, 255, 0.1);
}

/* 메인 레이아웃 */
.intro-content {
  display: flex;
  justify-content: space-between;
  padding: 150px 80px;
}

/* 텍스트 영역 */
.intro-left {
  max-width: 50%;
}

.semi-title p {
  font-size: 14px;
  opacity: 0.7;
  margin: 0;
}

.vlvl,
.vl2 {
  width: 2px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 8px;
}

.main-title h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  margin: 5px 0;
}

.main-title p {
  font-size: 16px;
  line-height: 1.8;
  opacity: 0.9;
}

/* 오른쪽 컨테이너 */
.intro-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-right canvas,
.intro-right img {
  width: 100%;
  max-width: 480px;
  object-fit: contain;
}
