/* src/styles/reset.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

img, video, canvas {
  max-width: 100%;
  display: block;
}

ul, li {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
